absl-py==0.7.1
alabaster==0.7.10
anaconda-client==1.6.3
anaconda-navigator==1.6.2
anaconda-project==0.6.0
AnyQt==0.0.10
asn1crypto==0.22.0
astor==0.8.0
astroid==1.4.9
astropy==4.0
atomicwrites==1.3.0
attrs==19.3.0
Babel==2.4.0
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.6.0
bitarray==0.8.1
bkcharts==0.2
blaze==0.10.1
bleach==3.3.0
bokeh==0.12.5
boto==2.46.1
boto3==1.11.9
botocore==1.14.9
Bottleneck==1.2.1
bz2file==0.98
CacheControl==0.12.5
category-encoders==2.1.0
certifi==2019.6.16
cffi==1.10.0
chardet==3.0.3
click==6.7
cloudpickle==0.2.2
clyent==1.2.2
colorama==0.3.9
commonmark==0.9.1
comtypes==1.1.2
confuse==1.0.0
contextlib2==0.5.5
cryptography==2.9.2
cycler==0.10.0
Cython==0.25.2
cytoolz==0.8.2
dask==2.2.0
datashape==0.5.4
decorator==4.4.2
distributed==1.16.3
docutils==0.13.1
entrypoints==0.2.2
et-xmlfile==1.0.1
fastcache==1.0.2
fastparquet==0.3.2
filelock==3.0.12
Flask==1.1.2
Flask-Cors==3.0.2
future==0.18.2
gast==0.2.2
gensim==3.8.1
gevent==1.2.1
glob2==0.7
greenlet==0.4.12
grpcio==1.27.2
h5py==2.7.1
HeapDict==1.0.0
hep-ml==0.6.1
html5lib==0.999
htmlmin==0.1.12
idna==2.5
imageio==2.5.0
imagesize==0.7.1
importlib-metadata==0.19
ipykernel==4.6.1
ipython==5.3.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.2.5
itsdangerous==0.24
jdcal==1.3
jedi==0.10.2
Jinja2==2.11.2
jmespath==0.9.4
joblib==0.14.1
json5==0.8.5
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==5.1.0
jupyter-core==4.6.1
jupyter-http-over-ws==0.0.8
jupyterlab==1.0.2
jupyterlab-launcher==0.13.1
jupyterlab-server==1.0.0
keyring==21.1.0
keyrings.alt==3.1.1
kiwisolver==1.1.0
lazy-object-proxy==1.2.2
lightgbm==2.3.0
llvmlite==0.29.0
locket==0.2.0
lockfile==0.12.2
lxml==3.7.3
Mako==1.1.0
Markdown==3.1.1
MarkupSafe==0.23
matplotlib==3.2.1
mccabe==0.6.1
menuinst==1.4.7
missingno==0.4.2
mistune==0.8.4
mkl-fft==1.0.12
mkl-random==1.0.2
mkl-service==2.3.0
mlxtend==0.17.0
mock==3.0.5
more-itertools==8.1.0
mpld3==0.3.1.dev1
mpmath==0.19
msgpack-python==0.4.8
multipledispatch==0.4.9
navigator-updater==0.1.0
nbconvert==5.3.1
nbformat==4.3.0
networkx==2.4
nose==1.3.7
notebook==6.0.3
numba==0.45.0
numexpr==2.6.9
numpy==1.18.1
numpydoc==0.6.0
odo==0.5.0
olefile==0.44
openpyxl==2.4.7
openTSNE==0.3.11
orange-canvas-core==0.1.7
orange-widget-base==4.0.1
Orange3==3.23.1
packaging==16.8
pandas==1.0.3
pandas-profiling==2.6.0
pandocfilters==1.4.1
parso==0.5.0
partd==0.3.8
path.py==10.3.1
pathlib2==2.2.1
patsy==0.5.1
pep8==1.7.0
phik==0.9.11
pickle5==0.0.9
pickleshare==0.7.4
Pillow==7.1.2
pkginfo==1.5.0.1
pluggy==0.12.0
ply==3.10
prometheus-client==0.7.1
prompt-toolkit==1.0.14
protobuf==3.8.0
psutil==5.7.0
py==1.8.1
pyaml==19.4.1
pycodestyle==2.5.0
pycosat==0.6.2
pycparser==2.17
pycurl==7.43.0.2
pydot==1.4.1
pyflakes==1.5.0
Pygments==2.2.0
pygpu==0.7.6
pylint==1.6.4
pynndescent==0.3.3
pyodbc==4.0.16
pyOpenSSL==19.1.0
pyparsing==2.1.4
pyqtgraph==0.10.0
pyreadline==2.1
PySocks==1.7.0
pytest==5.3.4
pytest-pylint==0.14.1
pytest-runner==5.2
python-dateutil==2.8.1
python-louvain==0.13
pytz==2017.2
PyWavelets==1.0.3
pywin32==220
pywin32-ctypes==0.2.0
pywinpty==0.5.5
PyYAML==5.3.1
pyzmq==18.1.1
QtAwesome==0.4.4
qtconsole==4.3.0
QtPy==1.2.1
rep==0.6.6
requests==2.23.0
rope==0.17.0
s3transfer==0.3.2
scikit-image==0.15.0
scikit-learn==0.22.1
scikit-optimize==0.7.4
scipy==1.4.1
seaborn==0.10.0
Send2Trash==1.5.0
serverfiles==0.3.0
shap==0.29.3
similaritymeasures==0.3.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
smart-open==1.9.0
snowballstemmer==1.2.1
sortedcollections==0.5.3
sortedcontainers==1.5.7
sphinx==1.5.6
sphinxcontrib-websupport==1.1.2
spyder==3.1.4
statsmodels==0.11.1
sympy==1.0
tables==3.4.2
tangled-up-in-unicode==0.0.4
tblib==1.3.2
termcolor==1.1.0
terminado==0.8.2
testpath==0.3
thrift==0.11.0
toolz==0.8.2
tornado==6.0.4
tqdm==4.45.0
traitlets==4.3.2
tslearn==0.3.0
typing==3.6.4
unicodecsv==0.14.1
urllib3==1.25.3
visions==0.4.1
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
win-inet-pton==1.1.0
win-unicode-console==0.5
wincertstore==0.2
wrapt==1.10.10
xlrd==1.0.0
XlsxWriter==0.9.6
xlwings==0.10.4
xlwt==1.2.0
zict==0.1.2
zipp==0.5.2
